body {
    text-align: center;
    background-color: ghostwhite;
    padding: 15px;
}

.translation {
    color: lightskyblue;
    font-size: 45px;
    margin: 5px;
}

.guess {
    color: orange;
    font-size: 45px;
    margin: 5px;
}

.audio {
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 35px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: grey;
}

.username {
    font-size: larger;
}