html, body {
    padding:0; margin:0; height:100%;
}

body {
    
    text-align: center;
    background-color: ghostwhite;
    padding: 15px;
}

textarea { 
    text-align: center;
    font-size: 34px;
    
}

a {
    text-decoration: none;
    color: inherit;
}

.translation {
    color: lightskyblue;
    font-size: 45px;
    margin: 5px;
}

.guess {
    color: orange;
    font-size: 45px;
    margin: 5px;
}

.audio {
    border: none;
    background: none;
    margin-left: 5px;
    font-size: 35px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: grey;
}

.username {
    font-size: larger;
}

#title {
    font-size: 20px;
    color: grey;
    opacity: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

a, a:active, a:focus {
    outline: none;
 }

a:hover { 
    COLOR: #4F849E; 
    TEXT-DECORATION: none; 
    font-weight: none }

/* textarea {
    border-top: none;
    border-left: none;
    border-right: none;
} */

#translation:focus {
    border: none;
}

#translation{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 27px;

}

#point-bar {
    height: 55px;
    width: 55px;
    line-height: 55px;
    border: solid 2px black;
    border-radius: 50%;
    margin-left:50px;
    /* margin-right: 750px; */
    /* line-height: 0;
    position: relative; */
    text-align: center;
  
    font-weight: bold;

}

/* #circle-text {
    position: absolute;
    color: white;
    bottom: 50%;
    width: 100%;
    
    font-family: arial, sans-serif;
    font-weight: bold;
} */

/* .achievements {
    /* text-align: left;
    margin-left: 900px;
    margin-top: 100px; */
/* } */ 

.badge-list {
    list-style-type: none;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.basin-container{
    color: #93ccea;
    text-align: center;
}

#basin-title a {
    color: #93ccea; 
}

#basin{
    display:none;
    width:700px;
    height: 445px;
    color: ghostwhite;
    border: solid;
    border-radius: 10% 30% 50% 70%;
    border-color:  #93ccea;
    padding: 20px;
    background: #93ccea;
}

#basin-title:hover + #basin{
    display:block;
    z-index: 1; 
    position: absolute; 
    top: 0px; 
    left: 0px;
}

.word{
    margin: 15px; 
    text-transform: uppercase; 
    font-size: 25px;
    line-height: 4;
}

.dive:hover{
    border: solid 1px #93ccea;
    border-radius: 50%;
    padding: 15px;
    color: #93ccea; 
}

.dive-arrow{
    font-size: 30px;
    color: #93ccea; 
}

#hint{
    visibility: hidden;
    
    font-size: 25px;
}

footer{
    position: absolute; bottom: 0; left: 0; right: 0;
    min-height: 150px;
}

.footer{
    border-top: solid 1.5px lightgray;
    /* height: 150px; */
    font-size: 34px;
    
}

.container{
    position: relative;
    width: 100%;
}

.regular{
    min-height: 150px;
    color: #00b7eb;
    width: 100%;
    position: relative;
  
}

.wrong{
    min-height: 150px;
    background-color: #ff9999;
    /* opacity: 0.5; */
    color: #560319;
    width: 100%;
    position: relative;

}

.correct{
    min-height: 150px;
    background-color:#d1e7dd;
    /* opacity: 0.4; */
    color: #0f5132;
    position: relative;
    width: 100%;

}
.correct a{
    color: black;
}


