{% extends 'base.html' %}
{% block content %}



<div class="card" style="width: 25rem; border: none;">
  
  <div class="card-body">
    <h5 class="card-title">Translate this:</h5>

    <div class="card-text"><p style="color: #77b5fe; font-size: 55px; margin: 10px" onmouseover="pronounce()">{{word}}</p></div>


    <div id="hint">{{word_hint}}</div>

<form id="translate-form" method="POST" data-word="{{word}}" >
    <label for=""></label>

    {{ form.hidden_tag() }}


        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder="", class="form-control", background_color="ghostwhite") }}
        {% endfor %}
    
    <!-- {%if guess != translation%}
    <p style="margin-top: 20px">Your answer <span class="guess">{{guess}} </span>is wrong :(</p>
    <p>The correct answer is <span class="translation">{{translation}}</span></p>
    {%else%}
    <p>Your answer <span class="guess">{{guess}} </span>is correct :)</p>
    {%endif%} -->
    
</form>
</div>

</div>








{% endblock %}

